@font-face {
    font-family: 'Dinot Font';
    src: url('\\Dinot-Font\\Dinot Font.otf') format('opentype');
    /* Optional properties: */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    /* avoids invisible text while loading */
}

body {
    font-family: 'Dinot Font', sans-serif;
}

h1,
.headline {
    font-family: 'Dinot Font', serif;
}

.left {
    background-color: #ffffff;
}

.right {
    background-color: #ffffff;
}

.middle {
    background-color: #ffffff;
}

.main {
    background-color: #ffe163;
}

a {
  color: #ffcc00;
  background-color: transparent;
  text-decoration: underline;
}

a:link {
  color: #ffe163;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #ffe163;
  background-color: transparent;
  text-decoration: underline;
}